Assignment 1

Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [4]:
strr="hello world"
strr

'hello world'

In [5]:
li=[1,2,3,4,5]
li

[1, 2, 3, 4, 5]

In [7]:
floatv=3.14
floatv

3.14

In [8]:
tuplee=(1,2,3,4,5,6)
tuplee

(1, 2, 3, 4, 5, 6)

Q2. Given are some following variables containing data:

(i) var1 = ‘ ‘

(ii) var2 = ‘[ DS , ML , Python]’

(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]

(iv) var4 = 1.

What will be the data type of the above given variable.

In [10]:
var1=''
type(var1)

str

In [16]:
var2 = '[ DS , ML , Python]'
type(var2)

str

In [18]:
var3=['DS','ML','Python']
type(var3)

list

In [20]:
var4=1.
type(var4)

float

Q3. Explain the use of the following operators using an example:

(i) /

(ii) %

(iii) //

(iv) **

In [22]:
#1  '/' (Division Operator)
#The '/' operator is used for division,it returns the quotient of the division operation

a=10
b=2
c=a/b
c

5.0

In [25]:
#2    '%' (Modulus Operator):
#The '%' operator calculates the remainder of a division operation.

a=10
b=3
c=a%b
c

1

In [26]:
#3   '//' (Floor Division Operator):
#The '//' operator performs floor division, it also discards the fractional unit
#which returns the quotient of the division rounded down to the nearest integer.

a=10
b=3
c=a//b
c

3

In [27]:
#4   '**' (Exponentiation Operator or power operator:
#The '**' operator is used to raise a number to a certain power.

a=10
b=2
c=a**b
c

100

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [29]:
li=[1,2.2,'hello',True,[1,2,3],(1,2,3),{1,2,3},"python",4+1j,bin(10)]
for i in li:
  print("Element:",i)
  print("DataType:",type(i))
  print("--------")

Element: 1
DataType: <class 'int'>
--------
Element: 2.2
DataType: <class 'float'>
--------
Element: hello
DataType: <class 'str'>
--------
Element: True
DataType: <class 'bool'>
--------
Element: [1, 2, 3]
DataType: <class 'list'>
--------
Element: (1, 2, 3)
DataType: <class 'tuple'>
--------
Element: {1, 2, 3}
DataType: <class 'set'>
--------
Element: python
DataType: <class 'str'>
--------
Element: (4+1j)
DataType: <class 'complex'>
--------
Element: 0b1010
DataType: <class 'str'>
--------

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [39]:
a=10
b=2
count=0
while a % b ==0:
  count=count+1
  a=a/b
print("A is div by B by:",count,"times")

A is div by B by: 1 times

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [41]:
li = [2, 5, 6, 9, 10, 12, 15, 18, 20, 21, 24, 27, 30, 33, 36, 39, 40, 42, 45, 48, 50, 51, 54, 57, 60]

for n in li:
    if n % 3 == 0:
        print(n, ": is divisible by 3")
    else:
        print(n, ": is not divisible by 3")

2 : is not divisible by 3
5 : is not divisible by 3
6 : is divisible by 3
9 : is divisible by 3
10 : is not divisible by 3
12 : is divisible by 3
15 : is divisible by 3
18 : is divisible by 3
20 : is not divisible by 3
21 : is divisible by 3
24 : is divisible by 3
27 : is divisible by 3
30 : is divisible by 3
33 : is divisible by 3
36 : is divisible by 3
39 : is divisible by 3
40 : is not divisible by 3
42 : is divisible by 3
45 : is divisible by 3
48 : is divisible by 3
50 : is not divisible by 3
51 : is divisible by 3
54 : is divisible by 3
57 : is divisible by 3
60 : is divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In [44]:
"""
Mutable:If we are able to change something at a particlular index for a particular
        collection of datatype then it is known as mutuable
        EG:-
"""
li=[1,3,4,"purshottam",True, 4+8j]
li[1]="psi"
li

#as the value of index 2 is changed then it is mutable

[1, 'psi', 4, 'purshottam', True, (4+8j)]

In [47]:
"""
Immutable:If we are not being able to change something at a particlular index
          then it is known as Immutuable
          and it will throw a warnig of
          "'tuple' object does not support item assignment"
        EG:-
"""
p='q','w','e','r','t','y'
p[2]='s'
p

#as the value did not change then it is immutable

TypeError: ignored